<div style="text-align: center; padding:20px;">
    Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous (Attention : ce lien est valable durant 10 heures) :
</div>    
<div style="text-align: center;">
    <a href="{{ url('security_change_password', { 'token' : user.token }) }}">Changer mon mot de passe</a>
</div>    
