<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reinitialisation</title>
</head>
<body>
<h3>Reset de mot de passe </h3>
<p>Cliquez , le lien suivant vous amènera sur la page de reinitialisation </p>

<a href="http://localhost:8000/newMdp/{{ email }}">Cliquez</a>
</body>
</html>